extends layouts/main

block content

  .searchResults
    img(src=image)
    p Title: #{title} 
    p Subtitle: #{subtitle}
    p Director: #{director}
    p Actor: #{actor}
    p User Rating: #{userRating}
    a(href=link target="_blank") 자세한 영화 정보 보러가기(Click!)
  
  